html {
  font-size: 62.5%;
  color: #222;
  font-family: 'Microsoft Yahei';
  box-sizing:border-box
}
::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

body,ul,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
/*把img变成块元素，使img和文字连接时不会出来空白*/
img{
  display: block;
}

/*============
  工具样式
=============*/
.conter-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}

